@import url('https://fonts.googleapis.com/css?family=Changa:800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a,p {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    color: #333b46;
}
 .container {
    max-width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-12 {
    width: 100%;
}
.col-10{
    width: 83.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-7{
    width: 58.3333%;
}
.col-6 {
    width: 50%;
}
.col-5{
    width: 41.6666%;
}
.col-4 {
    width: 33.3333%;
}
.col-3 {
    width: 25%;
} 
.col-2 {
    width: 16.666%;
}
.col-1{
    margin-left: 8.3333%;
}
.offset-1{
    margin-left: 8.3333%;
}
.offset-2{
    margin-left: 16.666%;
}
.offset-3{
    margin-left: 25%;
}
.offset-6{
    margin-left: 50%;
}
.d-flex {
    display: flex;
}
.content-center {
    justify-content: center;
}
.content-between {
    justify-content: space-between;
}
.content-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.grow-1 {
    flex-grow: 1;
} 
section {
    padding: 80px 0;
    overflow: hidden;
}
.btn {
    transition: color .5s;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 20px;
    color: #333b46;
    border: solid 1px #333b46;
    background-color: transparent;
    font-weight: 600;
    outline: none;
}
.btn:hover{
    background-color: #333b46;
    color: white;
    border: solid 1px #333b46;
}
@media screen and (min-width: 1600px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 640px) {
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-4 {
        width: 33.3333%;
    }
}
@media screen and (max-width: 480px) {
    .col-xs-12 {
        width: 100% !important;
    }
    .col-xs-6 {
        width: 50% !important;
    }
}


/* ---------------------HEADER-------------------- */
header{
    height: 100vh;
    background-image: url('../img/header.png');
    background-size: cover;
    overflow: hidden;
}
.nav-bar{
    width: 100%;
}
.nav-bar nav{
    padding: 30px 0;
    color: white;
}
h1{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    letter-spacing: 2px;
}
.nav-bar ul a{
    display: block;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: solid 1px transparent;
}
.nav-bar ul a:hover{
    border: solid 1px rgba(255, 255, 255, 0.226);
}
.nav-bar ul a.active-page{
    border: solid 1px white;
}

.header-title{
    color: white;
    text-align: center;
    line-height: 25px;
    opacity: .8;
}
.header-title h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 6px;
    transform: scaleY(0.9);
}
.header-title p{
    max-width: 610px;
    transform: scaleY(0.9);
    opacity: 0.7;
}
.slider{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #19bd9a;
    color: rgba(255, 255, 255, 0.678);
    margin-bottom: 40px;
}


/* ----------------SECTION ABOUT------------------- */
@keyframes fly {
    0%{
        transform: translate(0, 0);
    }

    25%{
        transform: translate(-40px, -25px) scale(1.05);
    }
    50%{
        transform: translate(-5px, -45px) scale(1.1);
    }

    75%{
        transform: translate(40px, -25px) scale(1.05);
    }

    100%{
        transform: translate(0, 0);
    }
}
@keyframes fly-shadow {
    0%{
        transform: translate(0, 0);
    }

    25%{
        transform: translate(-40px, 0px) scale(2);
    }
    50%{
        transform: translate(-5px, 0px) scale(3);
    }

    75%{
        transform: translate(40px, 0px) scale(2);
    }

    100%{
        transform: translate(0, 0);
    }
}
.this-bouncy{
    align-items: flex-start;
}
.this-bouncy p{
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
}
.this-bouncy-img img:first-of-type{
    animation: fly 15s infinite cubic-bezier(.45, .10, .52, .79);
}
.this-bouncy-img img:last-of-type{
    animation: fly-shadow 15s infinite cubic-bezier(.45, .10, .52, .79);
}


/*------------------DETAILS---------------------*/
.details{
    background-color: #f3f3f3;
}
.title-section{
    margin: 0 auto;
    width: 460px;
    text-align: center;
}
.title-section h3{
    margin-bottom: 35px;
}
.title-section p{
    color: #81868e;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 60px;
}
/*--- TAB-MENU ---*/
.tab-indicator{
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #81868e;
    color: white;
    font-size: 25px;
    margin: 0 15px;
}
.tab-indicator.active{
    background-color: #19bd9a;
}
.tab-content{
    width: 83.3333%;
    margin: 0 auto;
}
.tab-item{
    margin: 50px 0; 
    display: none;
    opacity: 0;
    transition: opacity .5s;
}
.tab-item.active{
    display: block;
}
.tab-item.show{
    opacity: 1;
}

.tab-item h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #464646;
    margin-bottom: 30px;
}
.tab-item p{
    text-align: left;
    line-height: 25px;
    color: #81868e;

}


/* -------------FEATURED--------------- */
.featured-img{
    position: relative;
    width: 100%;
}
.featured-img>div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    background-size: cover;
}
.featured-img img{
    display: block;
    width: 100%;
}
.featured-img .img-2{
    z-index: 3;
    position: relative;
}
.featured-img>div:hover{
    z-index: 4;
}
.featured-img>div:hover .bg-wrapper{
    display: none;
}
.hide{
    display: none;
}
.featured-img:hover .hide{
    display: flex;
}
.bg-wrapper{
    width: 100%;
    height: 100%;
    background-image: url('../img/f21.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.bg-wrapper .bg{
    background-color: rgba(32, 32, 32, 0.849);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
}



.featured .summit-now{
    background-image: url('../img/green-bg.png');
    background-attachment: fixed;
    background-size: cover;
}
.bg-green{
    width: 100%;
    height: 100%;
    background-color: #1ca789c9;
    padding: 45px;
}
.summit-now p{
    color: white;
    font-size: 20px;  
}
.summit-now .btn{
    border-color: white;
}


/* -----------SERVICES------------ */
/* ---TAB---*/
.services .tab-indicator{
    margin: 0 15px;
}
.services .tab-content{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    padding-left: 25px;
}
.services .tab-item{
    margin: 0;
    height: 100%;
    overflow-y: auto;
}
.services .tab-item p{
    margin-top: 35px;
}

/* --canvas-- */
.block-round-progress{
    padding: 0 20px;
}
.services .round-progress{
    width: 100%;
    height: 100%;
}
.round-item{
    position: relative;
}
.wrapper-round-progress {
    position: relative;
}
.round-item .show-percent{
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #81868e;
}
.round-item p{
    text-align: center;
    color: #81868e;
    font-size: 16px;
}







